aiofiles
aiogram
aiohttp
aiosignal
alembic
async-timeout
attrs
certifi
charset-normalizer
frozenlist
greenlet
idna
magic-filter
Mako
MarkupSafe
multidict
psycopg
psycopg-binary
psycopg-pool
pydantic
pydantic_settings
python-dotenv
python-dateutil
SQLAlchemy
typing_extensions
yarl
APScheduler
whodap
whois21
chardet<6